.categories{
  height: 300px;
  .categories_title{
    padding-top: 30px;
    text-align: center;
    font-size: 5rem;
    font-family: $lora;
  }
  .categories_links{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 3rem;
    margin-left: 20px;
    margin-right: 50px;
  }
  a{
    text-decoration: none;
    color: black;
    &:hover{
      cursor: pointer;
      color: $main-color;
    }
  }
  hr{
    width: 100%;
    color: darkgray;
    margin-right: 10px;
  }
}
.categories{
  @include desktop(){
    height: 200px;
  }
}