.follow{
  height: 100px;
  .follow_title{
    padding-top: 30px;
    text-align: center;
  }
  .icons{
    display: flex;
    justify-content: center;
    align-items: center;

    i{
      margin-right: 5px;
    }

  }
}

