.follow{
  height: 200px;
  .follow_title{
    padding-top: 50px;
    text-align: center;
    font-size: 5rem;
    font-family: $lora;
  }
  .icons{
    margin: 0 auto;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 4rem;
    @include desktop(){
      width: 60%;
    }
    i{

      &:hover{
        cursor: pointer;
        color: $color-accent;
      }
    }


  }
}

