.gallery{
  margin-top: 100px;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .gallery_image{
    width: 50%;
  }
  img{
    width: 90%;
    //height: 30%;
  }
}
.gallery_title{
  padding-top: 50px;
  text-align: center;
  font-size: 5rem;
  font-family: $lora;
}