.header{
  font-size: 4rem;
  height: 200px;
  background-color: $bg-color;
  padding-top: 20px;

}
.header_icons, .header_search{
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 4rem;
}
.header_icons{
  width: 100%;
  //justify-content: space-evenly;
  i{
    margin-right: 20px;
    font-size: 4rem;
  }
}
.header_search{
  width: 100%;
  margin-top: 20px;

  input{
    border:none;
    background-image:none;
    background-color:transparent;
    padding-top: 50px;
    font-size: 3rem;
  }
  // margin-right: 50px;

}
