.menu{
  padding-top: 50px;
  text-align: center;
  font-size: 3rem;
  background: white;
  color: $main-color;
  @include phone-landscape(){
    padding-top: 10px;
  }
  ul{
    margin: 0;
    li{
      list-style: none;
      text-align: left;
      font-size: 4rem;
    &:hover{
      color: $main-color;
    }
    }
    a{
      text-decoration: none;
      color: black;
    &:hover{
      color: $main-color;
    }
    }
  }
}
.buttonHamburger{
  color: $main-color;
  border: none;
  margin: 0;
  padding-top: 30px;
  width: auto;
  font-size: 7rem;
  background-color: transparent;
}