.recentPosts{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  .recentPost{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    img{
      width: 50%;
      height: 50%;
      background-size: cover;
    }
  }
}