.iframe{
  display: flex;
  //justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  margin-left: 20px;
  .fb-page{
    text-align: center;
  }
}
.iframe_title{
  padding-top: 30px;
  text-align: center;
  font-size: 5rem;
  font-family: $lora;
}