.subscribe{
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $lora;
  .subscribe_title{
    font-size: 5rem;

  }
  .subscribe_input{
    height: 15rem;
    border: none;
    width: 90%;
    font-size: 4rem;
    border-radius: 100px;
    text-align: center;
    margin-bottom: 5px;
  }
}
.subscribe_input.email{
  background-color: #F8F8F8;
  width: 90%;
  position: relative;
}

.subscribe_input.subscribe{
  margin-top: 5px;
  background-color: $color-accent;
  height: 8rem;
  width: 60%;
  color: white;
  letter-spacing: 1px;
}

//tooltip

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  font-size: 4rem;
  height: 20px;
  width: 130px;
  background-color: #a3b5a7;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: -236px;
  bottom: -16px;
}

.tooltip{
  position: absolute ;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  transform: rotate(-90deg);
  top: 35%;
  left: 94%;
  margin-left: 8px;
  border-width: 6px;
  border-style: solid;
  border-color: $color-accent transparent transparent transparent;
}
